<li><%= link_to "Users", root_path %></li>
<li><%= link_to "Categories", categories_path %></li>
<li><%= link_to "Results", root_path %></li>

<% @users.each do |i| %>
	<%= i.name %>
	<%= i.email %> <br>
<%end%>